@tailwind base;
@tailwind components;
@tailwind utilities;

/* misc */

* {
  box-sizing: border-box;
}

body {
  display: block;
  position: relative;
  scroll-behavior: smooth;
  background-color: #0f172a;
  min-height: 100vh;
}
/* img carrousel */

.carousel {
  width: 100%;
}

/* room description */
.room_descr_appear {
  animation: roomdescrappear 500ms cubic-bezier(0,.98,.61,1) forwards;
  @media screen and (max-width: 1095px) {
    height: 140px;
    overflow: hidden;
    font-size: 11px;
    line-height: 92%;
  }
}

@keyframes roomdescrappear {
  from {
    filter: opacity(0);
    transform: scale(90%);
  }
  to {
    filter: opacity(1);
    transform: scale(100%);
  }
}
 
/* calendar customization */

.open_calendar {
  animation: opencalendar 200ms ease-out forwards;
  transform: translateY(-15px);
  filter: opacity(0);
}

.close_calendar {
  animation: closecalendar 200ms ease-out forwards;
}

.close_calendar > td {
  border-top: none;
}

@keyframes opencalendar {
  from {
    transform: translateY(-15px);
    filter: opacity(.0)
  }
  to {
    transform: translateY(0);
    filter: opacity(1)
  }
}

@keyframes closecalendar {
  0% {
    transform: translateY(0);
    filter: opacity(.5);
  }
  99% {
    transform: translateY(-15px);
    filter: opacity(0)
  }
  100% {
    display: none;
  }
}

/* Overriding MUI base styles */

.css-rhmlg1-MuiTypography-root-MuiDayCalendar-weekDayLabel {
  color: #f5f5f5 !important
}

.css-1nkg345-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button {
  color: #f5f5f5 !important;
}

.css-kg9q0s-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button {
  color: #f5f5f5 !important;
}

.Mui-disabled {
  color: gray !important;
}

.MuiDateCalendar-root {
  height: 300px !important;
  width: 310px !important;
}

/* nav */

.nav_icon {
  color: white;
  height: 35px;
  width: 35px;
  cursor: pointer;
  transition-duration: 200ms;
}

.nav_icon:hover {
  color: #33eaff;
  transform: scale(1.08);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }      
}


